/* line 1, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
#research {
  height: unset !important;
}

/* line 5, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
#myTabContent {
  height: 20em;
  overflow: scroll;
}

/* line 10, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
table {
  width: 100%;
}

/* line 14, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead, tbody, tr, td, th {
  display: block;
}

/* line 16, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

/* line 23, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead th {
  height: 30px;
  /*text-align: left;*/
}

/* line 29, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tbody {
  height: 120px;
  overflow-y: auto;
}

/* line 34, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead {
  /* fallback */
}

/* line 39, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tbody td, thead th {
  width: 19.2%;
  float: left;
}
