/* line 1, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
.profile.panel .picture {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  top: 10px;
  left: 3%;
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}
/* line 12, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
.profile.panel .picture img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

/* line 20, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
.profile.panel .picture_mob {
  position: absolute;
  width: 35%;
  left: 35%;
  bottom: 85%;
}

@media (max-width: 767px) {
  /* line 28, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
  .profile.panel .header {
    text-align: center;
  }

  /* line 32, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
  .profile.panel .nav {
    margin-top: 30px;
  }
}
/* line 37, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
#profilePanel {
  background-color: lightgray;
  border-radius: 10px;
}

/* line 41, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
#research {
  height: unset !important;
}

/* line 45, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
#myTabContent {
  background: white;
  padding-left: 1em;
  height: 20em;
  overflow: scroll;
}

/* line 56, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead, tbody, tr, td, th {
  display: block;
}

/* line 58, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

/* line 65, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead th {
  height: 30px;
  /*text-align: left;*/
}

/* line 71, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tbody {
  height: 120px;
  overflow-y: auto;
}

/* line 76, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
thead {
  /* fallback */
}

/* line 81, /Users/lisazhang/Desktop/ResearchMap/app/assets/stylesheets/researchers.scss */
tbody td, thead th {
  width: 19.2%;
  float: left;
}
