/* line 6, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
body {
  -webkit-font-smoothing: antialiased;
}

/* line 9, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
* {
  box-sizing: border-box;
}

/* line 15, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.panel.panel-default {
  margin: 0px;
}

/* line 18, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings {
  height: 87.4%;
  overflow: auto;
  padding-bottom: 60px;
}
/* line 22, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings a {
  background-color: transparent;
}

/* line 27, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

/* line 33, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item:last-child {
  border-bottom: none;
}

/* line 34, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item .title {
  display: block;
  color: slategray;
  font-weight: 700;
}

/* line 39, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item .title small {
  font-weight: 400;
}

/* line 40, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item.active .title,
.listings .item .title:hover {
  color: #20B2AA;
  text-decoration: none;
}

/* line 45, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.listings .item.active {
  background-color: #f8f8f8;
}

/* line 49, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

/* line 55, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
::-webkit-scrollbar-track {
  background: none;
}

/* line 58, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
::-webkit-scrollbar-thumb {
  background: slategray;
  border-radius: 0;
}

/* line 63, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.clearfix {
  display: block;
}

/* line 64, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 72, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.panel-group a {
  background-color: transparent;
}

/* line 75, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.leaflet-container p {
  font-family: 'Quicksand Book', Arial, sans-serif;
}

/* line 78, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.leaflet-container a {
  background-color: transparent;
}

/* line 82, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.leaflet-container h3 {
  color: slategray;
  font-family: 'Quicksand Book', Arial, sans-serif;
}

/* line 87, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.popup {
  font-family: 'Quicksand Book', Arial, sans-serif;
}

/* line 91, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
#backToSize {
  background-color: transparent;
  text-decoration: none;
}

/* line 95, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.sidebar {
  z-index: 1000;
  position: absolute;
  width: 22.5%;
  height: 500px;
  left: 5%;
  min-width: 195px;
  background-color: lightgray;
}

/* line 105, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.heading {
  text-align: center;
  font-family: 'Quicksand Book', Arial, sans-serif;
}

/* line 110, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
#map {
  margin: 0;
  position: relative;
  height: 500px;
  left: 25.5%;
  width: 75%;
}
/* line 116, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
#map .leaflet-popup-tip {
  background: transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* line 122, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
#searchanthro {
  padding-top: 20px;
}

/* line 127, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.leaflet-control-mapbox-geocoder-results a:hover {
  width: 180px !important;
}

/* line 133, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui {
  background: #fff;
  position: relative;
  top: 6.4em;
  left: 72.5em;
  z-index: 1;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

/* line 143, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* line 153, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui a:first-child {
  border-radius: 3px 3px 0 0;
}

/* line 156, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui a:last-child {
  border: none;
  border-radius: 0 0 3px 3px;
}

/* line 160, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui a:hover {
  background: #f8f8f8;
  color: #404040;
  text-decoration: none;
}

/* line 165, /Users/lisazhang/Desktop/Work/PeopleMap/app/assets/stylesheets/welcome.scss */
.menu-ui a.active,
.menu-ui a.active:hover {
  background: slategray;
  color: #FFF;
  text-decoration: none;
}
