.row.profile.panel
  .col-md-4.bg_blur
  .col-md-8.col-xs-12.info-col
    %img.img-rounded.picture.hidden-xs{:src => "http://lorempixel.com/180/180/people/6/"}/
    %img.img-rounded.visible-xs.picture_mob{:src => "http://lorempixel.com/180/180/people/6/"}/
    .header
      %h2 Lorem Ipsum
      %h4 Web Developer
      %span
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
    .btn-group.btn-block
      %button.btn.btn-inverse.btn-lg
        %i.fa.fa-weixin.fa-lg
        16
      %button.btn.btn-inverse.btn-lg
        %i.fa.fa-heart-o.fa-lg
        14
      %button.btn.btn-inverse.btn-lg
        %i.fa.fa-thumbs-o-up.fa-lg
        26
