.container
  %h1 Frequently Asked Question

  %h3 What are Trip Passes?
  Trip Passes are a feature that Users who are either a Patron of Benefactor can use.
  They can create a Trip Pass when they want to visit a Researcher in field to
  see how a Researcher works (and to travel!)

  Researchers accept Trip Passes when the times the Patron or Benefactor want to visit
  works for them, and then the rest is handled by the School of Anthropology Administration Office!
  %br

  %h3 What's an Activity Feed?
  If you "Follow" a Researcher you will get updates from them on your Activity Feed!
  Every time they add their Research to the NoRMA, you will see it in your Feed!
  %br

  %h3 How do I become a Patron or a Benefactor?
  Click
  %a{href: :'http://anthropology.arizona.edu/friends-anthropology'} Here
  to learn more about our Friends of Anthropology Program! That is how you can become
  a Patron or a Benefactor.
