!!!!
/ Scripts to allow Mapbox API to work
%script{src: :'https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'}
%link{href: :'https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css', rel: :'stylesheet'}
.container
  %body{data: {'no-transition-cache': 'true'}}
    %h1
      %center NoRMA
    %nav.menu-ui#menu-ui
      %a.active#filter-all{href: :'#'} Show all
      %a#filter-donor{href: :'#'} Can visit?
    .mapArea
      .sidebar
        .heading
          %h2
            %i.fa.fa-globe
            %a#backToSize{href: :'#', title: :"Zoom out on map", 'data-toggle': :'tooltip', 'data-placement': :'top'} Locations
        .listings#listings
      #map
