// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body{
//   padding-top: 5em;
// }
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}
