/*
 *= require jquery-ui
 *= require_self
 *= require_tree .
 */

@import "font-awesome-sprockets";
@import "font-awesome";

#googlemap {
    text-align: center;
    height: 500px;
    margin: 4em;
}

#form {
  padding-left: 2em;
  color: #00000;
}

li {
  font-size: 15px;
}
