/*
 *= require_tree .
 *= require_self
 *= require leaflet
 *= require mapbox
 *= require bootstrap-datepicker3
 *= require jquery-ui
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 4em;
}
#googlemap {
    text-align: center;
    height: 500px;
    margin: 4em;
}

#form {
  padding-left: 2em;
}
.footer {
  margin: 2em;
  text-align: center;
}
