.profile.panel .picture{
    width:auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position:relative;
    overflow: hidden;
    top: 10px;
    left:3%;
    border: 6px solid  rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    img {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }
}

.profile.panel .picture_mob{
    position: relative;
    width: 35%;
    left: 35%;
    bottom: 85%;
}

@media (max-width: 767px) {
    .profile.panel .header{
        text-align : center;
    }

    .profile.panel .nav{
        margin-top : 30px;
    }
}

#profilePanel{
  background-color: lightgray;
  border-radius: 10px;
}
// #research {
//   height: unset !important;
// }

#myTabContent {
  background: white;
  height: 20em;
  overflow: scroll;
}
//
// table {
//         width: 100%;
//     }

// thead, tbody, tr, td, th { display: block; }
//
// tr:after {
//     content: ' ';
//     display: block;
//     visibility: hidden;
//     clear: both;
// }
//
// thead th {
//     height: 30px;
//
//     /*text-align: left;*/
// }
//
// tbody {
//     height: 120px;
//     overflow-y: auto;
// }

// thead {
//     /* fallback */
// }
//
//
// tbody td, thead th {
//     width: 19.2%;
//     float: left;
// }
