%footer#footer_site
  .container
    .row
      .col-md-6
        #footer_logo.text-center-sm.text-center-xs.text-left
          %a{:href => "#"}
            =image_tag "primary-logo.png"
      .col-md-6
        #footer_menu.text-center-sm.text-center-xs.text-right
          -# %ul
          -#   %li
          %a{:href => "/faq"} Frequently Asked Questions
          -# %li
          -#   %a{:href => "#"} Link 2
          -# %li
          -#   %a{:href => "#"} Link 3
          -# %li
          -#   %a{:href => "#"} Link 4
          -# %li.last
          -#   %a{:href => "#"} Link 5
    -# %hr/
    .row
      .col-md-12
        #footer_copyright.text-center
          1009 East South Campus Drive   |   University of Arizona   |   Tucson, AZ 85721
          %br/
          Phone: 520.621.2585  |   Email: 
          %a{:href => "mailto:anthro@email.arizona.edu"}>
            anthro@email.arizona.edu
            %br/
          © 2016 The Arizona Board of Regents on behalf of the University of Arizona   | 
          %a{:href => "mailto:lisazhang@email.arizona.edu"} Feedback
